*   {
   box-sizing: border-box;
   text-align: center;
    }
body 
     {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      color:white;
      background: #777;
      font-size: 18px;
     }
.Header
     {
        background: #ebebeb;
        padding: 0px;
        margin-bottom: 20px;
        color: black;
        float: right;
        width: 100%;
        
      }

h6    {
         float:right;
         padding-left: 30px;
         color: black;
        
      } 
      
#Name { 
         position: relative; 
         left: 0px;
         top: -114px;
         z-index: 1;
         background:#4AAAA5;
         padding-top: 25px;
         padding-bottom:25px; 
         margin-left: 120px;
         color: white;
         float: left;
         width: 20% ;
            
         }

#Heading{
         color: #4AAAA5;
         float: left;
         margin-right: 870px;
         }
 
 .Article {
          position: relative; 
          left: 0px;
          top: -120px;
          z-index: 1;
         clear: both;
         overflow: auto;
         color:#777;
         background:#ebebeb;
         padding: 20px;
         margin-bottom: 120px;
         margin-left: 120px;
         margin-right: 100px;
         float: left;
        
    }
   
#txtbox {
          font-size: 18pt; height: 200px; width : 400px;
        }
#txtbox1 {
            font-size: 18pt; height: 20px; width : 400px;
          }
#txtbox2 {
            font-size: 18pt; height: 20px; width : 400px;
          }       
img     {
         float: left;
         
         } 
#button  {
         background: #4AAAA5;
         color: white;
         float: left;
         margin-left: 70px;
         }  
form     {
          float: left;
         } 
#img1
         {
            position: relative;
            left: 0px;
            top: 0px;
            z-index: 1;
         }               
#img2
         {
            position: relative;
            left: 40px;
            top: 0px;
            z-index: 1;
         }     
#img3
         {
            position: relative;
            left: 80px;
            top: -20px;
            z-index: 1;
         }                                  
#img4
         {
            position: relative;
            left: 120px;
            top:-20px;
            z-index: 1;
         }     
         /* projects react text */
.text-block1 {
      position: absolute;
      top: 345px;
      left: 147px;
      background-color:#4AAAA5;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 2;
  }     
  .text-block2 {
      position: absolute;
      top: 345px;
      left: 338px;
      background-color:#4AAAA5;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 2;
  } 
  .text-block3 {
   position: absolute;
   top: 345px;
   left: 527px;
   background-color:#4AAAA5;
   color: white;
   padding-left: 40px;
   padding-right: 32px;
   z-index: 2;
} 
.text-block4 {
   position: absolute;
   top: 345px;
   left: 717px;
   background-color:#4AAAA5;
   color: white;
   padding-left: 18px;
   padding-right: 20px;
   z-index: 2;
} 
hr { 
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 5px;
}

/* .site-footer { */
   /* background: orange; */
 /* } */
